<h1>Ironhack cinema</h1>
<p>Click on the movie to check the showtimes!</p>
{{#each movies}}
<h3>{{this.title}}</h3>
<img src="{{this.image}}" alt="movies">
<a href="/movies/{{this.id}}">See More</a>
{{/each}}